@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    padding        : 0;
    margin         : 0;
    box-sizing     : border-box;
    list-style     : none;
    text-decoration: none;
}

:root {
    --dark-gray     : hsl(0, 0%, 63%);
    --black         : hsl(0, 0%, 0%);
    --white         : hsl(0, 0%, 100%);
    --very-dark-gray: hsl(0, 0%, 27%);
}

body {
    font-family: 'League Spartan', sans-serif;
}

.main {
    display              : grid;
    max-width            : 1440px;
    margin               : 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows   : repeat(5, max-content);
    grid-template-areas  :
        "main"
        "cta"
        "image1"
        " about"
        "image2";
}

.container {
    width   : 90%;
    margin  : 0 auto;
    overflow: hidden;
    padding : 60px 0;
}

.main-hero{
    grid-area: main;
    background: url(../images/desktop-image-hero-1.jpg) no-repeat center center/cover;
    min-height: 500px;
}

.main-nav{
    display: flex;
}

.main-links{
    display: none;
}

.main-logo{
    margin: 0 auto;
}

.main-controls{
    grid-area: main;
    align-self: end;
    justify-self: end;
    background-color: var(--black);
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-control{
    height: 40%;
}

.main-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-buy{
    grid-area: cta;
}

.main-title{
    color: var(--black);
}

.main-paragraph{
    color: var(--dark-gray);
    line-height: 1.5em;
    margin: 1em 0 2em;
}

.main-paragraph-about{
    margin: 1em 0 0 0;
}

.main-cta{
    color: var(--very-dark-gray);
    text-transform: uppercase;
}

.main-arrow{
    margin-left: 1.2em;
}

.main-bg{
    grid-area: image1;
    min-height: 250px;
    height: 100%;
    background: url(../images/image-about-dark.jpg) no-repeat center center/cover;
}

.main-about{
    grid-area: about;
}

.main-bg-second{
    grid-area: image2;
    background: url(../images/image-about-light.jpg) no-repeat center center/cover;
}